* {
  box-sizing: border-box;
}
.head {
  display: flex;
  align-items: start;
  margin: 0px auto 64px;
  width: 100%;
  padding: 0px 16px;
  justify-content: center;
  max-width: 1100px;
  min-width: 350px;
  position: relative;
  flex-direction: column;
}
.covid {
  width: 100%;
  margin: 24px 0px;
  box-sizing: border-box;
  background-color: #fff0e0;
  border: 1px solid #ff8000;
  padding: 16px;
  color: #262626;
  border-radius: 2px;
}
.flightformcont {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.flightheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 0;
  margin-left: unset;
  margin-bottom: 24px !important;
  width: 100%;
}
.headerbold {
  margin-right: 0;
  margin-left: unset;
  margin-bottom: 8px !important;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.headerbottom {
  margin-right: 0;
  margin-left: unset;
  margin-bottom: 0 !important;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.flightformoutmost {
  margin-right: 0;
  margin-left: unset;
  margin-bottom: 0 !important;
  width: 100%;
}
.flightformbox {
  display: block;
}
.flightform {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
}
.flightformfilter {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 16px !important;
  width: 100%;
}
.flightformradio {
  margin: 0px;
  padding: 0px;
  z-index: 0;
}
.radiogroup {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.radioitem {
  position: relative;
  -webkit-box-flex: 0;
  flex-grow: 0;
  border-bottom: 0;
  list-style: none;
}
.radioitem > label {
  display: block;
  margin-right: 16px;
  margin-left: unset;
  padding-top: 0;
  padding-bottom: 0;
}
.radioitem > label > div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
.radioinput {
  -webkit-box-flex: 0;
  flex-grow: 0;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: 2px;
  padding-left: 12px;
}
.yellowBox {
  position: relative;
  background-color: #febb02;
  padding: 4px;
  border-radius: 2px;
  box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 16%);
  margin-right: 0;
  margin-left: unset;
  margin-bottom: 16px !important;
  width: 100%;
}
.yellowBox > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
}
.inputGroup {
  display: flex;
  flex: 2 1 0%;
  background: #ffffff;
  align-items: center;
  -webkit-box-align: center;
  overflow: hidden;
  border-radius: 0;
  height: 56px;
  border: solid 1px #ffffff !important;
  margin-right: 4px !important;
  margin-left: unset;
  margin-bottom: 0;
  width: 100%;
}
.inputGroup > .svg {
  margin-left: 16px;
  margin-right: unset;
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
}
.inputGroup > .inputDiv {
  width: 100%;
  animation: animation-g7abp6 0.15s ease-in-out !important;
}
.inputDiv > .span {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.inputContainer {
  background-color: #ffffff;
  border-radius: 2px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.SearchboxInput {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 0;
  border-radius: 2px;
  text-overflow: ellipsis;
  width: 100%;
  height: 56px;
  color: #262626;
  padding-left: 16px;
  padding-right: unset;
  margin: 0;
}
.arrow {
  margin: -4px;
  left: 0px;
  right: unset;
  width: 0px;
  position: relative;
  margin-right: 4px !important;
}
.arrow > div {
  width: 32px;
  position: absolute;
  left: -16px;
  right: unset;
  cursor: pointer;
  background: #ffffff;
  height: 32px;
  padding: 4px;
  top: 16px;
}
.arrow > div > svg {
  width: 100%;
  height: 100%;
  fill: rgb(0, 113, 194);
  overflow: hidden;
}
.DateInputGroup {
  display: flex;
  flex: 2 1 0%;
  min-width: auto;
  background: #ffffff;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0;
  margin-right: 4px !important;
  margin-left: unset;
  margin-bottom: 0;
  width: 100%;
}
.DateInputGroup > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
}
.DateInputGroup > div > div > .span {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.dateInputGroup {
  display: flex;
  width: 100%;
  background-color: #febb02;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.DateInput {
  width: 100%;
  border: solid 1px #ffffff;
}
.dateInputContainer {
  display: inline-flex;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.dateSvg {
  display: flex;
  flex: 1;
  margin-left: 16px;
  margin-right: unset;
  width: 20px;
  height: 20px;
}
.datepicker {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 0;
  border-radius: 2px;
  text-overflow: ellipsis;
  width: 100%;
  height: 54px;
  color: #262626;
  padding-right: unset;
  margin: 0;
}
.search {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  flex: 0.4 1 0%;
  height: 56px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: rgb(0, 113, 194);
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 0 !important;
  margin-left: unset;
  margin-bottom: 0;
  cursor: pointer;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  transition: backgroundColor 0.2s ease-in-out, width 0.2s ease-in-out;
  appearance: none;
  border: 0;
  display: block;
  width: 100%;
}
.directFlightsDiv {
  margin-right: 0;
  margin-left: unset;
  margin-bottom: 0 !important;
  width: fit-content;
}
.directFlightsDiv > label {
  position: relative;
  display: block;
  padding: 0 0 0 calc(var(--bui_spacing_1x) * 5);
  box-sizing: border-box;
}
.popular {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  flex-direction: row;
  padding: 0px 16px;
}
.popularContainer {
  display: flex;
  min-width: 350px;
  width: 100%;
  flex-direction: column;
  flex: 1;
  position: relative;
  max-width: 1100px;
}
.popularTitle {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  flex-direction: column;
}
.popularTitleBold {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.popularTitleNormal {
  margin-top: 4px;
  text-align: left;
}
.CarouselModuleRoot {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  position: relative;
}
.CarouselModuleInner {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  scroll-padding: 0;
  list-style: none;
  margin: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  backface-visibility: hidden;
  scroll-snap-type: x mandatory;
  padding: 0;
}
.CarouselModuleItem {
  width: 263px;
  margin-right: 16px;
  flex: 0 0 auto;
  scroll-snap-align: start;
}
.CarouselModuleItem > a {
  text-decoration: none;
  color: inherit;
}
.AspectRatioModuleInner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.AspectRatioModuleInner > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.TextModuleBold {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration-thickness: auto;
}
.TextModuleNormal {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration-thickness: auto;
  color: rgb(107, 107, 107);
}
