.searchInputBox {
    border: 3px solid #F9B82E;
}

.searchButton {
    height: 50px !important;
    border-left: 4px solid #F9B82E !important;
}

.firstSection {
    background: #f2f2f2;
    padding: 5% 0% 5% 20%;

}

.topHeading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}

.topSubHeading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #8a9197;
    padding-bottom: 30px;
}

.heading-hotel {
    line-height: 24px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.hotel-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b6b6b;
}

.thirdSection-div {
    display: flex;
    padding: 20px;
    width: 150px;
    height: 200px;
    padding: 16px;
}

.secondSection {
    width: 71%;
    margin: auto;
    border: 1px solid #cfcbc1;
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.secondSection_infoicon {
    padding: 4px;
    background: #e9c6a9;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(223, 124, 67);
}

.secondSection_infoText {
    padding: 4px;
    font-size: 15px;
    color: #4e575f;
}

.secondSection_infoText > span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.thirdSection, .sectionTheeHeading {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.thirdSection {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.card_background_fog_layout {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 49, 87, 0.336);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card_background_fog_layout:hover {
    background-color: rgba(253, 253, 253, 0);
    transition: 0.5s;
}

.card_background_fog_layout > div {
    color: #fff;
    padding-left: 10px;
}

.card_background_fog_layout > div:nth-child(2) {
    font-size: 12px;
    padding-bottom: 10px;
}

.FourthSection {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgb(184, 174, 174);
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(194, 183, 183);

}

.FourthSection h5 {
    padding: 0;
    margin: 0;
}

.FourthSection h5 + div {
    font-size: 13px;
    /* font-weight: lighter; */
}

.FourthSection > .outterFlex {
    display: flex;
    justify-content: space-between;

}

.FourthSection > .outterFlex > div {
    margin: 0.7%;
}

.FourthSection > .outterFlex > .innerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FourthSection > .outterFlex > .innerFlex > div {
    margin: 1.5%;
}

.card {
    width: 72px;
    height: 72px;
    border: 0;
    flex-shrink: 0;
    display: block;

}

.FourthSection-div1 {
    height: 300px;
    width: 300px;
    border: #61dafb;
    background: url("https://t-cf.bstatic.com/xdata/images/city/540x270/687157.webp?k=06b9ded0733baaca9efaa06a69ae4d0d74311d620280947ae909015e804028fb&amp;o=");
}

.FourthSection-div2 {
    height: 300px;
    width: 300px;
}

.h3_card {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;;
    text-align: left;
}

.para_card {

    margin-top: -15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b6b6b;
    text-align: left;
}
